:root {
    --color-shader: #dbdbdb;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 10px;
}

.main-card {
    -webkit-box-shadow:0 0 5px var(--color-shader) !important;
    -moz-box-shadow:0 0 5px var(--color-shader) !important;
    box-shadow:0 0 5px var(--color-shader) !important;

    margin-top: 30px;
}

.ui-tabs a {
    font-size: 0.8rem;
}
.ui-tabs ul {
    background-color: transparent;
    border: 0;
    border-bottom: solid #ffcd00;
}
.ui-tabs-panel {
    background-color: #666666 !important;
}
.ui-state-active,
 .ui-widget-content .ui-state-active,
 .ui-widget-header .ui-state-active,
 a.ui-button:active,
 .ui-button:active,
 .ui-button.ui-state-active:hover {
     border: 0 !important;
     background: #ffcd00 !important;
     color: #000 !important;
 }
.ui-widget.ui-widget-content {
    border: 0 !important;
}
.ui-widget-content {
    color: #fff !important;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    border: 1px solid #ffcd00 !important;
    border-radius: 7px 7px 0 0;
}
.ui-tabs .ui-tabs-nav li {
    border: 0 !important;
}

.tab-1 {
    width: 70%;
    float: left;
}
.tab-1-side {
    width: 28%;
    float: right;
}

.from-ab {
    float: left;
    width: 50px;
    margin-top: 25px;
}
.from-ab i {
    font-style: normal;
    border: 3px solid #ffcd00;
    padding: 5px 8px;
    border-radius: 100%;
    font-size: 0.6rem;
}
.from-ab div {
    height: 60px;
    border-left: 2px dashed #ffcd00;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.from-ab a {
    background: #ffcd00;
    padding: 7px 7px;
    border-radius: 100%;
    float: left;
    margin-top: -50px;
    margin-left: 9px;
}

.new-order i {
    font-style: normal;
    font-size: 0.8rem;
    opacity: 0.7;
}
.new-order input {
    width: calc(100% - 70px);
}
.new-order button {
    color: #fff;
    float: right;
    margin-top: 20px;
    height: 40px;
    width: 90px;
    background: #bb0000;
    border: 0;
    font-weight: 700;
}

.card2-1 {
    width: 70%;
    float: left;
}
.card2-1 {
    width: 28%;
    float: right;
}

.cardse-1 {
    width: 45%;
    float: left;
    border-right: 1px solid #0000003b;
}
.cardse-2 {
    margin-left: 5%;
    width: 50%;
    float: right;
}

.create_order input {
    margin-bottom: 10px;
}

.to-bar {
    margin-top: 20px;
}
.to-bar i {
    font-style: normal;
    font-size: 0.8rem;
}
.to-bar button {
    float: right;
    background: #ffcd00;
    border: 0;
    border-radius: 6px;
    padding: 5px 15px;
    margin-top: -5px;
}

.card-0 {

}
.card-0-name {

}
.card-0-name img {
    background: #dee1e6;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
.card-0-name i {
    font-style: normal;
    margin-left: 20px;
    font-size: 1.3rem;
}

.card2-1 form {
    background: #666666;
    margin-top: 20px;
    border-top: 3px solid #ffe061;
    padding: 30px;
}
.card2-1 form > i {
    font-style: normal;
    color: #d1d1d1;
    font-size: 0.8rem;
}
.card2-1 form > i input,
.card2-1 form > i textarea {
    margin-bottom: 20px;
    width: 100%;
    background: #fff;
    min-height: 30px;
    border: 0;
    margin-top: 5px;
}
.card2-1 form > i textarea {
    min-height: 200px !important;
}
.card2-1 form button {
    color: #fff;
    float: right;
    margin-top: 20px;
    height: 40px;
    width: 90px;
    background: #bb0000;
    border: 0;
    font-weight: 700;
}

.mine-work {
    background: #f9f9f9;
    width: 70%;
    border-top: 3px solid #ffe061;
    margin-top: 10px;
    padding: 10px;
    height: 50px;
}
.mine-work-s {
    background: #f9f9f9;
    border-top: 3px solid #ffe061;
    margin-top: 10px;
    padding: 10px;
    height: 50px;
}
.mine-work i,
.mine-work-s i {
    font-style: normal;
}
.mine-work i:nth-child(1),
.mine-work-s i:nth-child(1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 40%;
    float: left;
}
.mine-work i:nth-child(2),
.mine-work-s i:nth-child(2) {
    float: right;
}

.pop {
    background: #87878747;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}
.pop > div {
    width: 40%;
    background: #fff;
    -moz-box-shadow: 0 0 10px #dfdfdf5c;
    -webkit-box-shadow: 0 0 10px #dfdfdf5c;
    box-shadow: 0 0 10px #dfdfdf5c;
    border-radius: 7px;
    pointer-events: all;
    min-height: 250px;
    padding: 20px;
}
.pop > div header {
    color: #bb0000;
    font-size: 1.1rem;
    font-weight: 400;
}
.pop > div button {
    min-width: 150px;
    height: 40px;
    border-radius: 40px;
    border: 0;
    background: #ffe061;
    font-size: 0.8rem;
    margin: 10px;
}

.close-button {
    min-width: auto !important;
    background: transparent !important;
    float: right;
    margin-top: -25px !important;
    width: 30px;
    height: 30px !important;
}

.work-info {
    margin-top: 20px;
}
.work-info i {
    font-style: normal;
}

.back_work {
    margin-top: 30px;
}
.back_work textarea {
    width: 80%;
    margin: 10px 10% 0;
    min-height: 160px;
}
.back_work i {
    font-style: normal;
    font-size: 0.8rem;
    color: #b5b5b5;
    margin-left: 10%;
}
.back_work button {
    margin: 20px calc(50% - 150px / 2) !important;
}