<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuhelan.htg.dao.OrderDao">
    <select id="get_order_by_id" resultType="com.chuhelan.htg.beans.Order">
        select * from htg_order where order_id=#{order_id};
    </select>
    <select id="get_orders_today" resultType="com.chuhelan.htg.beans.Order">
        select * from htg_order where to_days(order_create_date) = to_days(now());
    </select>
    <select id="get_orders_id_by_user_id" resultType="string">
        select order_id from htg_order where order_user_id=#{id};
    </select>
    <select id="get_orders_id_for_user_id" resultType="string">
        select order_id from htg_order where order_sender_id=#{id};
    </select>
    <update id="change_order_state_by_order_id">
        update htg_order set order_status=#{state} where order_id=#{id};
    </update>
    <update id="update_order_all" parameterType="com.chuhelan.htg.beans.Order">
        update htg_order set order_sender_id = #{order_sender_id}, order_send_date = #{order_send_date}, order_end_date = #{order_end_date}, order_close_date = #{order_close_date}, order_status = #{order_status}
        where order_id=#{order_id};
    </update>
    <update id="receive_order">
        update htg_order set order_status='已完成', order_close_date=now() where order_id=#{id};
    </update>
    <insert id="save_order" parameterType="com.chuhelan.htg.beans.Order">
        insert into htg_order (order_id, order_user_id, order_create_date, order_name, order_country, order_address, order_email, order_phone)
        values (#{order_id}, #{order_user_id}, #{order_create_date}, #{order_name}, #{order_country}, #{order_address}, #{order_email},
                #{order_phone});
    </insert>
    <delete id="delete_order">
        delete from htg_order where order_id=#{id};
    </delete>
</mapper>